.feynman__title{
	position:relative;
	width:648px;
	line-height:1.15;
	font-size:120px;
	font-weight:700;
<<<<<<< HEAD
	margin:0 auto;
=======
	margin:0 auto ;
>>>>>>> 810905d48f50685b40c0a13d19141a902bfc55a4
	text-align:center;
	z-index:2;
	}

